@import '../main/util';
@import '../main/default';
@import "var";

.body-paper-fill() {
  &:after {
    position: fixed;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20em 0 fade(@color-base, 10%) inset;
  }
}

body {
  background-color: @default-body-fill;
  .body-paper-fill();

  .text-size;
  .text-cell-2x;

  @media screen and (max-width:@small-view-width) {
    .text-cell;
  }

}
header h1 {
  text-shadow: -1px 1px @default-body-fill;
}


header h1 a {
  position: relative;

  &:hover {
    text-shadow: -1px 1px @color-base;
  }

  &:before  {
    opacity: 0;
    transition: all .35s;
    box-shadow: 0 0 0 0 @color-base;
    content: "";
    display: block;
    height: @default-h1-link-width;
    width: @default-h1-link-width;
    border-radius: (@default-h1-link-width / 2);
    position: absolute;
    top: (@default-h1-link-width / -2) + .25;
    left: 0;
    z-index: -1;
  }

  &:hover:before {
    opacity: 1;
    box-shadow: 0 0 0 7em @color-base;
  }

}

nav {
  font-weight: 600;

  ul, ol, li {
    margin: 0;
    padding: 0;
    position: relative;
  }

  li {
    list-style-type: none;
    display: block;
  }

}