@import '../main/default';
@import "var";

body {
  background-color: @default-body-fill;
  .text-size;
  .text-cell-2x;
}

nav {
  font-weight: 600;

  ul, ol, li {
    margin: 0;
    padding: 0;
    position: relative;
  }

  li {
    list-style-type: none;
    display: block;
  }

}