@text-root-family: 'Stint Ultra Expanded';
@text-root-family-alt: serif;
@nav-family: 'Roboto';
@nav-family-alt: sans-serif;
@text-writing-direction: ltr;
@text-1-size: 64px;
@text-1-height: 73px;
@text-2-size: 21px;
@text-2-height: 28px;
@text-cell-x: 1em;
@text-cell-y: .5em;
@grid-margin: @text-cell-x * -1;
@grid-col-gap: 1em;
@grid-col-count: 12;
