{{#each data}}
    <div class="grid">
    {{#each .}}
        <div class="grid-col {{../../style}}-{{.}}{{#lt @index 1}} grid-col-br{{/lt}}">
            <div>{{.}}</div>
        </div>
    {{/each}}
    </div>
{{/each}}