{{#each .}}
    <div class="grid">
    {{#each .}}
        <div class="grid-col grid-span-{{.}}{{#lt @index 1}} grid-col-br{{/lt}}">
            <div class="text-cell">{{.}}</div>
        </div>
    {{/each}}
    </div>
{{/each}}