<header>
    <h1>
        {{#compare basename '!==' 'index'}}
            <a href="./">Press</a>
        {{else}}
            Press
        {{/compare}}
         &amp; {{capitalizeFirst basename}}</h1>
</header>