---
title: Press & Hold
grid:
    master:
    - [1,11]
    - [2,10]
    - [3,9]
    - [4,8]
    - [5,7]
    - [6,6]
    - [7,5]
    - [8,4]
    - [9,3]
    - [10,2]
    - [11,1]
    - [12]
    layouts:
        col4:
        - [3,3,3,3]
        col3:
        - [4,4,4]
        col2:
        - [6,6]
---
{{> grid grid.master}}
{{#each grid.layouts}}
    {{> grid .}}
{{/each}}

<div class="grid">

    <div class="grid-col grid-span-4 grid-col-br">
        <div class="text-cell">4</div>

        <div class="grid-col grid-span-2 grid-col-br">
            <div class="text-cell">2</div>
        </div>
        <div class="grid-col grid-span-2">
            <div class="text-cell">2</div>
        </div>
    </div>

    <div class="grid-col grid-span-4">
        <div class="text-cell">4</div>
        <div class="grid-col grid-span-1 grid-col-br">
            <div class="text-cell">1</div>
        </div>
        <div class="grid-col grid-span-1">
            <div class="text-cell">1</div>
        </div>
        <div class="grid-col grid-span-1">
            <div class="text-cell">1</div>
        </div>
        <div class="grid-col grid-span-1">
            <div class="text-cell">1</div>
        </div>
    </div>

    <div class="grid-col grid-span-4">
        <div class="text-cell">4</div>
    </div>

</div>