---
title: Press & Index
---
<nav class="channel">
    <ul>{{#each pages}}
        <li>{{#compare dest '!==' ../page.dest}}
            <a href="{{relative ../../page.dest dest}}">{{data.title}}</a>
        {{/compare}}</li>
    {{/each}}
    </ul>
</nav>