---
title: Press & Play
---
<video>
    <label for="captions-display">Closed captions</label>
    <input id="captions-display" type="checkbox" name="captions"/>
    <section class="captions">
        <p>
            <span data-caption-start="1" data-caption-end="5"></span>
            <span data-caption-start="5.25"></span>
        </p>
        <aside>
            <span data-caption-start="9"></span>
        </aside>
        <p>
            <span data-caption-start="15" data-caption-end="20.1"></span>
        </p>
    </section>
</video>